{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-text">
        <h1 class="hero-title">¡Bienvenido a la Platzi Fake Store!</h1>
        <p class="hero-description">Explora nuestra increíble colección de productos falsos.</p>
        <a href="{% url 'products:products' %}" class="btn btn-primary">Ver productos</a>
    </div>

    <!-- Carrusel -->
    <div class="hero-carousel">
        <div class="carousel-container">
            <img src="https://radionacional-v3.s3.amazonaws.com/s3fs-public/styles/portadas_relaciona_4_3/public/node/article/field_image/hangers-ga67cff71c_1280.jpg?h=1c9b88c9&itok=f8JZUxpO" class="carousel-image active" alt="Imagen 1">
            <img src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f" class="carousel-image" alt="Imagen 2">
            <img src="https://images.unsplash.com/photo-1512436991641-6745cdb1723f" class="carousel-image" alt="Imagen 3">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const images = document.querySelectorAll('.carousel-image');
        let currentIndex = 0;

        setInterval(() => {
            images[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].classList.add('active');
        }, 1000);
    });
</script>
{% endblock %}
